# project
*.log
*.pot
*.pyc
*.db
__pycache__
media
static
logs
todo

# enviroments
.env
venv/

# pycharm
.idea

# visual studio code
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history